body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}


.calculator{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 740px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1f2937;
    border-radius: 0.5cm;
    margin-top: 45px;
    flex-shrink: 1;
}

.head{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.display{
    height: 63px;
    
    margin-top: 25px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 1cm;
    background-color: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    font-size: 28px;
    font-weight: 500;
    overflow-x: auto;
    background-color: rgb(245, 244, 244);

}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-shrink: 1;
}

.but{
    width: 95px;
    height: 90px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 1cm;
    background-color: rgb(243, 243, 34);
}

#ac,#equal{
    width: 210px;
}

#sub,#divide,#per{
    font-size: 32px;
}

.num,#per{
    background-color: rgb(113, 187, 239);
}

.oper{
    background-color: orangered;
}

#equal{
    background-color: rgb(60, 255, 60)
}

.but:hover{
    background-color: rgb(255, 255, 102);
}

.num:hover,#per:hover{
    background-color: aqua
}

.oper:hover{
    background-color: rgb(242, 129, 81);
}

#equal:hover{
    background-color: rgb(133, 249, 133)
}