body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}


.calculator{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 770px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1f2937;
    border-radius: 0.5cm;
    margin-top: 80px;
    flex-shrink: 1;
}

.head{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.display{
    height: 63px;
    
    margin-top: 25px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 1cm;
    background-color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-shrink: 1;
}

.but{
    width: 95px;
    height: 95px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 1cm;
}

#ac,#equal{
    width: 210px;
}

